:root {
  --primary-color: #005a9c;
  --secondary-color: #003f6f;
  --text-color: #333333;
  --light-text-color: #ffffff;
  --background-color: #f8f9fa;
  --light-gray-color: #e9ecef;
  --white-color: #ffffff;
  --font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
}

/* Fade-in animation styles */
.fade-in-hidden {
  opacity: 0;
  transform: translateY(20px); /* Optional: slight upward movement */
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Adjust duration and easing as needed */
}